.form-product .form-item{
	margin-right:20px;
	margin-bottom:15px;
}
.form-product .form-block{
	width:160px;
}
.form-product .form-item.hide{
	display: none;
}
.form-product .form-item.show{
	display: inline-block;
}

/*折线图CSS*/
.left-box{
	width:60%;
	border:1px solid #ccc;
	text-align: center
}
